html,
body {
  background: rgb(51, 51, 51);
  background: linear-gradient(
    90deg,
    rgba(51, 51, 51, 1) 6%,
    rgba(26, 26, 26, 1) 46%,
    rgba(0, 0, 0, 1) 99%
  );
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: lighter;
}

.h4 {
  @media (max-width: 767px) {
    font-size: 1.2rem;
  }
}

.h5 {
  @media (max-width: 767px) {
    font-size: 1rem;
  }
}

p {
  @media (max-width: 767px) {
    font-size: 0.8rem;
  }
}

a {
  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center;
  //background-repeat: no-repeat;
}

.letter-spacing {
  letter-spacing: 0.5em;
  @media (min-width: 768px) {
    letter-spacing: 1em;
  }
}

.text-green {
  color: $color--green;
}

.text-gray {
  color: $color--gray;
}

.pyo-btn {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(159, 217, 219, 1) 20%,
    rgba(37, 221, 203, 1) 35%,
    rgba(58, 131, 185, 1) 65%,
    rgba(50, 60, 109, 1) 89%
  );
  border: none;
  padding: 0.5rem 0.8rem;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 0;
  color: #fff;
  &:hover {
    opacity: 0.6;
  }
  &:after {
    content: "";
    display: block;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #333333;
    background: linear-gradient(90deg, #333333 6%, #1a1a1a 46%, black 99%);
    z-index: -1;
  }
}

.gform_fields {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  label {
    color: #fff;
  }
  input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid $color--green;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: transparent;
  }
  .instruction {
    display: none;
  }
  .gfield_radio {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    input {
      display: none;
      &:checked + label {
        opacity: 1;
        text-decoration: underline;
      }
    }
    label {
      text-transform: uppercase;
      margin-right: 1.5rem;
      cursor: pointer;
      color: $color--green;
      font-weight: bold;
      opacity: 0.7;
    }
  }
}

.gform_footer {
  text-align: center;
}

@keyframes blinking {
  50% {
    opacity: 0.5;
  }
}

.play-btn {
  animation: blinking 1.5s infinite;
}
