.stars,
.star-bg,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.twinkling {
  z-index: 0;
  animation: move-twink-back 200s linear infinite;
}

.stars {
  z-index: -1;
}

.welcome-section {
  min-height: 100vh;
  .icon {
    width: 400px;
    height: auto;
    max-width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .triangles {
    position: absolute;
    width: 700px;
    max-width: 90%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.site-title {
  letter-spacing: 1rem;
  img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 2.5rem;
    width: 41rem;
    max-width: 100%;
    bottom: -25px;
  }
}

.schedule {
  position: relative;
  overflow: hidden;
  .shooting-stars {
    position: absolute;
    right: 0;
    bottom: 50%;
    width: 300px;
    max-width: 50%;
    transform: translateX(40%);
  }
  .shooting-stars-2 {
    position: absolute;
    width: 250px;
    max-width: 30%;
    top: 0;
    left: 40%;
  }
  .shooting-stars-3 {
    position: absolute;
    width: 280px;
    max-width: 20%;
    top: 5%;
    right: 20%;
  }
  .shooting-stars-4 {
    position: absolute;
    width: 400px;
    max-width: 50%;
    top: 30%;
    left: 0;
  }
  .shooting-stars-5 {
    position: absolute;
    width: 150px;
    max-width: 20%;
    top: 45%;
    right: 10%;
  }
  .shooting-stars-6 {
    position: absolute;
    width: 200px;
    max-width: 25%;
    bottom: 25%;
    left: 15%;
  }
  .shooting-stars-7 {
    position: absolute;
    width: 230px;
    max-width: 25%;
    bottom: 10%;
    right: 10%;
  }
  .arrow {
    width: 2rem;
    height: auto;
  }
  .schedule-block {
    & > div > a {
      transition: all 0.3s ease-in-out;
      display: block;
      &:hover {
        opacity: 0.5;
      }
    }
    .schedule__info {
      @media (min-width: 768px) {
        width: 300px;
        position: absolute;
        top: 0;
        left: 100%;
      }
      a {
        & > div {
          position: relative;
          span {
            opacity: 0;
            transition: all 0.3s ease-in-out;
          }
          img {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: all 0.3s ease-in-out;
          }
        }
        &:hover {
          span {
            opacity: 0.6;
          }
          img {
            opacity: 0;
          }
        }
      }
    }
    &:nth-child(2n - 1) {
      .schedule__info {
        left: -100%;
        img {
          @media (min-width: 768px) {
            right: 0;
          }
        }
      }
    }
  }
}

.gallery-slider {
  .gallery-slider__item {
    position: relative;
    .gallery-slider__img {
      padding: 2px;
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(159, 217, 219, 1) 20%,
          rgba(37, 221, 203, 1) 35%,
          rgba(58, 131, 185, 1) 65%,
          rgba(50, 60, 109, 1) 89%
        );
        z-index: -1;
      }
      img {
        padding: 5px;
        background-color: #333333;
        filter: grayscale(1);
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }
  }
}

.beauty-list {
  position: relative;
  .parallax-scene {
    position: absolute;
    width: 50%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    display: flex;
    align-items: center;
  }
  .bg-triangle {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .nav-tabs {
    border: none;
  }
  .nav-link {
    padding: 0.5rem 3rem;
    position: relative;
    border: none;
    @media (min-width: 768px) {
      font-size: 1.5em;
    }
    &:hover {
      border: none;
    }
    &.active {
      background-color: transparent;
      border: none;
      &:after {
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        background: rgb(255, 255, 255);
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(159, 217, 219, 1) 20%,
          rgba(37, 221, 203, 1) 35%,
          rgba(58, 131, 185, 1) 65%,
          rgba(50, 60, 109, 1) 89%
        );
        height: 2px;
      }
    }
  }
}

.pyo-footer {
  overflow: hidden;
  height: 300px;
  display: flex;
  align-items: center;
}

.footer-circles {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  width: 250px;
  max-width: 50%;
  height: auto;
}

.footer-stars {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50%;
  width: auto;
  @media (min-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.modal {
  .modal-content {
    background: #333333;
    background: linear-gradient(90deg, #333333 6%, #1a1a1a 46%, black 99%);
  }
}
