/*!
Theme Name: Paola & Orestes
Theme URI: https://somosbloom.com/
Author: Bloom Studio
Author URI: https://somosbloom.com/
Description: Developed by bloom
Version: 1.0.0
Text Domain: paolayorestes
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Typography
# Forms
# Elements
# Navigation
# Footer
# Content
	# Home
	# Events
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
@import "~bootstrap/scss/bootstrap.scss";
@import "~slick-carousel/slick/slick.scss";
@import "~chocolat/dist/css/chocolat.css";
@import "variables";
@import "base";
@import "pages";

.chocolat-loader {
  background: url(images/vendor/chocolat/dist/loader.gif);
}

.chocolat-wrapper .chocolat-left {
  background: url(images/vendor/chocolat/dist/left.png) 50% 50% no-repeat;
}

.chocolat-wrapper .chocolat-right {
  background: url(images/vendor/chocolat/dist/right.png) 50% 50% no-repeat;
}

.chocolat-wrapper .chocolat-close {
  background: url(images/vendor/chocolat/dist/close.png) 50% 50% no-repeat;
}

.chocolat-wrapper .chocolat-fullscreen {
  background: url(images/vendor/chocolat/dist/fullscreen.png) 50% 50% no-repeat;
}
